.custom-multicolumn-bg {
  background: linear-gradient(0deg, #131F32, #131F32), #0F101A;
}

.custom-multicolumn-bg .custom-multicolumn .multicolumn-card {
  background: none;
}

.custom-multicolumn-bg h4.title.h1 {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: calc(var(--font-heading-scale) * 3.6rem);
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0;
}

.custom-multicolumn .multicolumn-card__info h4 {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: calc(var(--font-body-scale) * 2.2rem);
  color: var(--white);
  font-weight: 600;
  margin: 0 0 1.8rem;
  text-transform: uppercase;
  font-style: italic;
}

.custom-multicolumn .multicolumn-card__info p {
  font-size: calc(var(--font-body-scale) * 1.6rem);
  color: var(--white);
  font-weight: 500;
  line-height: 24px;
}


.custom-multicolumn li:first-child .multicolumn-card__info h4,
.custom-multicolumn li:last-child .multicolumn-card__info h4 {
  max-width: 65%;
}

.custom-multicolumn li:nth-child(3) .multicolumn-card__info h4 {
  max-width: 100px;
}



  ul.custom-multicolumn li .multicolumn-card.content-container {
    display: flex;
    justify-content: space-between;
  }
  ul.custom-multicolumn li .multicolumn-card.content-container .multicolumn-card__image-wrapper {
      margin: 0;
      max-width: 80px;
      width: 100%;
  }
  ul.custom-multicolumn li .multicolumn-card.content-container .multicolumn-card__image-wrapper img {
    object-fit: contain;
  }


  @media screen and (max-width: 749px) {
    .custom-multicolumn-bg .custom-page-width {
        padding: 4rem 1.6rem;
    }
    .custom-multicolumn-bg h4.title.h1 {
      font-size: calc(var(--font-heading-scale) * 3.2rem);
      letter-spacing: 0.5px;
    }
    .multicolumn-card__info {
        padding: 1.5rem 5px 3rem 1rem;
    }

  }